// ----------------- Colors -----------------
$primary-color: #3B73F0;
$link-color: #1890ff;
$success-color: #22BF87;
$warning-color: #F67770;
$error-color: #F35248;

// ----------------- 中性色 -----------------
$gray-1: #202020;
$gray-2: #5B5B5B;
$gray-3: #949494;
$gray-9: #F6F6F8;
$gray-10: #ffffff;

// ----------------- font -----------------
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-20: 20px;

// ----------------- 间距 -----------------
$padding-4: 4px;
$padding-8: 8px;
$padding-10: 10px;
$padding-12: 12px;
$padding-20: 20px;
