// ----------------- 全局控制 -----------------
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: $gray-1;
  font-size: $size-14;
  background-color: $gray-10;
  transition: all .3s;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}
